{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="preloader  ">
        <button class="vs-btn preloaderCls">Cancel Preloader </button>
        <div class="preloader-inner">
            <div class="loader-logo">
                <img src="assets/img/logo.svg" alt="Foodano">
            </div>
            <div class="loader-wrap pt-4">
                <span class="loader"></span>
            </div>
        </div>
    </div>

    <!--==============================
    Mobile Menu
  ============================== -->
    <div class="vs-menu-wrapper">
        <div class="vs-menu-area">
            <button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="index.html"><img src="assets/img/logo.svg" alt="Foodano"></a>
            </div>
            <div class="vs-mobile-menu link-inherit"></div><!-- Menu Will Append With Javascript -->
        </div>
    </div>
    <!--==============================
        Header Area
    ==============================-->
    <header class="header-wrapper header-layout3 header3-margin ">
        <div class="container py-30">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="header-logo">
                        <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.svg' %}" alt="Foodano"></a>
                    </div>
                </div>
                <div class="col-6 text-end">
                    <button type="button" class="vs-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                    <div class="head-top-links text-body2 d-none d-lg-block">
                        <a href="{% url 'wishList' %}" class="icon-btn has-badge bg3 me-3"><i class="fal fa-heart"></i><span class="badge">0</span></a>
                        <a href="{% url 'myCart' %}" class="icon-btn has-badge"><i class="fal fa-shopping-cart"></i><span class="badge">0</span></a>
                        <span class="icon-btn bg4"><i class="fal fa-user"></i></span>
                        <ul>
                            {% if user %}
                            <li>{{ user.username }}</li>
                            <li><a href="{% url 'log_out' %}">logout</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-none d-lg-block">
            <div class="header3-inner position-relative">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-xl-7">
                        <nav class="main-menu menu-style1 mobile-menu-active menu-style2">
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper breadcumb-layout1 bg-fluid pt-200 pb-200" data-bg-src="assets/img/breadcumb/breadcumb-img-1.jpg">
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title">Cart</h1>
                <ul class="breadcumb-menu-style1 mx-auto">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Cart</li>
                </ul>
            </div>
        </div>
    </div>
    <!--==============================
    Cart Area
    ==============================-->
    <div class="vs-cart-wrapper  space-top space-md-bottom">
        <div class="container">
            <div class="woocommerce-notices-wrapper">
                <div class="woocommerce-message">Shipping costs updated.</div>
            </div>
            <form action="#" class="woocommerce-cart-form">
                <table class="cart_table">
                    <thead>
                        <tr>
                            <th class="cart-col-image">Image</th>
                            <th class="cart-col-productname">Product Name</th>
                            <th class="cart-col-price">Price</th>
                            <th class="cart-col-quantity">Quantity</th>
                            <th class="cart-col-total">Total</th>
                            <th class="cart-col-remove">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if cart %}
                        {% for product in cart_products %}
                        <tr class="cart_item">
                            <td data-title="Product">
                                <a class="cart-productimage" href="shop-details.html"><img width="91" height="91" src="{{ product.product.imgs.img.url }}" alt="Image"></a>
                            </td>
                            <td data-title="Name">
                                <a class="cart-productname" href="shop-details.html">{{ product.product.name }}</a>
                            </td>
                            <td data-title="Price">
                                <span class="amount"><bdi><span>$</span>{{ product.product.price }}</bdi></span>
                            </td>
                            <td data-title="Quantity">
                                <div class="quantity">
                                    <button class="quantity-minus qut-btn"><i class="far fa-minus"></i></button>
                                    <input type="number" name="quantity" class="qty-input" value="1" min="1" max="99">
                                    <button class="quantity-plus qut-btn"><i class="far fa-plus"></i></button>
                                </div>
                            </td>
                            <td data-title="Total">
                                <span class="amount"><bdi><span>$</span>{{ product.product.price }}</bdi></span>
                            </td>
                            <td data-title="Remove">
                                <a href="{% url 'deleteProductCart' product.id %}" class="remove"><i class="fal fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                        <tr>
                            <td colspan="6" class="actions">
                                <div class="vs-cart-coupon">
                                    <input type="text" class="form-control" placeholder="Coupon Code...">
                                    <button type="submit" class="vs-btn rounded-1 shadow-none">Apply Coupon</button>
                                </div>
                                <button type="submit" class="vs-btn style2 rounded-1 shadow-none">Update cart</button>
                                <a href="{% url 'index' %}" class="vs-btn rounded-1 shadow-none">Continue Shopping</a>
                                <div class="row justify-content-end">
                                    <div class="col-md-8 col-lg-7 col-xl-6">
                                        <h2 class="h4 summary-title">Cart Totals</h2>
                                        <table class="cart_totals">
                                            <tbody>
                                                <tr>
                                                    <td>Cart Subtotal</td>
                                                    <td data-title="Cart Subtotal">
                                                        <span class="amount"><bdi><span>$</span>47</bdi></span>
                                                    </td>
                                                </tr>
                                                <tr class="shipping">
                                                    <th>Shipping and Handling</th>
                                                    <td data-title="Shipping and Handling">
                                                        <ul class="woocommerce-shipping-methods list-unstyled">
                                                            <li>
                                                                <input type="radio" id="free_shipping" name="shipping_method" class="shipping_method">
                                                                <label for="free_shipping">Free shipping</label>
                                                            </li>
                                                            <li>
                                                                <input type="radio" id="flat_rate" name="shipping_method" class="shipping_method" checked="checked">
                                                                <label for="flat_rate">Flat rate</label>
                                                            </li>
                                                        </ul>
                                                        <p class="woocommerce-shipping-destination">
                                                            Shipping options will be updated during checkout.
                                                        </p>
                                                        <form action="#" method="post">
                                                            <a href="shop-details.html" class="shipping-calculator-button">Change address</a>
                                                            <div class="shipping-calculator-form">
                                                                <p class="form-row">
                                                                    <select class="form-select">
                                                                        <option value="AR">Argentina</option>
                                                                        <option value="AM">Armenia</option>
                                                                        <option value="BD" selected="selected">Bangladesh</option>
                                                                    </select>
                                                                </p>
                                                                <p>
                                                                    <select class="form-select">
                                                                        <option value="">Select an option…</option>
                                                                        <option value="BD-05">Bagerhat</option>
                                                                        <option value="BD-01">Bandarban</option>
                                                                        <option value="BD-02">Barguna</option>
                                                                        <option value="BD-06">Barishal</option>
                                                                    </select>
                                                                </p>
                                                                <p class="form-row">
                                                                    <input type="text" class="form-control" placeholder="Town / City">
                                                                </p>
                                                                <p class="form-row">
                                                                    <input type="text" class="form-control" placeholder="Postcode / ZIP">
                                                                </p>
                                                                <p>
                                                                    <button class="vs-btn shadow-none rounded-1">Update</button>
                                                                </p>
                                                            </div>
                                                        </form>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr class="order-total">
                                                    <td>Order Total</td>
                                                    <td data-title="Total">
                                                        <strong><span class="amount"><bdi><span>$</span>47</bdi></span></strong>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <div class="wc-proceed-to-checkout mb-30">
                                            <a href="{% url 'createOrder' cart.id %}" class="vs-btn rounded-1 shadow-none">Proceed to checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            

    <!--********************************
			Code End  Here 
	******************************** -->


    <!-- Scroll Top Top Button -->
{%  endblock %}   