{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--==============================
        Header Area
    ==============================-->
    <header class="header-wrapper header-layout3 header3-margin ">
        <div class="container py-30">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="header-logo">
                        <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.svg' %}" alt="Foodano"></a>
                    </div>
                </div>
                <div class="col-6 text-end">
                    <button type="button" class="vs-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                    <div class="head-top-links text-body2 d-none d-lg-block">
                        <a href="{% url 'wishList' %}" class="icon-btn has-badge bg3 me-3"><i class="fal fa-heart"></i><span class="badge">0</span></a>
                        <a href="{% url 'myCart' %}" class="icon-btn has-badge"><i class="fal fa-shopping-cart"></i><span class="badge">0</span></a>
                        <span class="icon-btn bg4"><i class="fal fa-user"></i></span>
                        <ul>
                            {% if user %}
                            <li>{{ user.username }}</li>
                            <li><a href="{% url 'log_out' %}">logout</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-none d-lg-block">
            <div class="header3-inner position-relative">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-xl-7">
                        <nav class="main-menu menu-style1 mobile-menu-active menu-style2">
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper breadcumb-layout1 bg-fluid pt-200 pb-200" data-bg-src="static/assets/img/breadcumb/breadcumb-img-1.jpg">
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title">Wishlist</h1>
                <ul class="breadcumb-menu-style1 mx-auto">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Wishlist</li>
                </ul>
            </div>
        </div>
    </div>
    <div class=" space">
        <div class="container">
            <div class="tinv-wishlist">
                <table>
                    <thead>
                        <tr>
                            <th class="product-cb">#</th>
                            <th class="product-name">Product Name</th>
                            <th class="product-price">Unit Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for wish in wish_list %}
                        <tr class="wishlistitem">
                            <td class="product-cb">{{ forloop.counter }}</td>
                            <td class="product-name"><a href="shop-details.html">{{ wish.product.name }}</a></td>
                            <td class="product-price"><span class="amount">{{ wish.product.price }}</span></td>
                            <td class="product-action"><button class="button vs-btn"><i class="fal fa-shopping-cart"></i><a href="{% url 'addProductToCart' wish.product.id %} ">Add to Cart</a></button></td>
                            <td class="product-action"><button  class="button vs-btn"><i class="fal fa-trash-alt"><a href="{% url 'delWish' wish.id %}">Delete</a></i></button></td>
                        </tr>
                        {% endfor %}
                </table>
                <div class="social-buttons">
                    <span>Share on</span>
                    <ul>
                        <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" title="Pinterest"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="#" title="WhatsApp"><i class="fab fa-whatsapp"></i></a></li>
                        <li><a href="#" title="Clipboard"><i class="far fa-clipboard"></i></a></li>
                        <li><a href="#" title="Email"><i class="far fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--==============================
			Footer Area
	==============================-->
    <div class="bg2" data-bg-src="static/assets/img/footer/footer-bg-1.jpg">
        <!--==============================
    Subscribe Area
    ==============================-->
    </div>
    {% endblock %}